/*book*/
.wrapper .main-book {
	position: relative;
	height: 650px;
	width: 700px;
	background: #553c32;
	border-radius: 20px;
	padding: 20px;
}
.main-book:before {
	content: "";
    -webkit-mask: url(../images/jonghabjang_head_bg.png) repeat-x;
    -webkit-mask-size: 25px;
	top: -20px;
	left: 0;
	width: 100%;
	height: 50px;
	background: #212121;
	position: absolute;
	z-index: -2;
}
.main-book:after {
	content: "";
    -webkit-mask: url(../images/jonghabjang_head.png) repeat-x;
    -webkit-mask-size: 25px;
	top: -20px;
	left: 0;
	width: 100%;
	height: 50px;
	background: #35373a;
	position: absolute;
	z-index: 15;
}
/*page*/
.main-book .main-book-cover {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #805445;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    font-family: fantasy;
    transition: 1s;
    transform-origin: top center;
    z-index: 11;
}

.main-book .main-book-page {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #f5f9e6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size: 30pt;
    font-family: fantasy;
    transition: 1s;
    transform-origin: top center;
}

.page-content {
	font-size: 10pt;
	width: 95%;
    height: 90%;
    background: white;
    padding: 10px;
    overflow: hidden;
}

.page-back {
	transform: perspective(2000px) rotateX(261deg);
}

/*button*/
.main-book .book-next {
	height: 100px;
	width: 300px;
	border: 4px dashed lightgray;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 15;
}
.main-book .book-prev {
	height: 100px;
	width: 300px;
	border: 4px dashed lightgray;
	position: absolute;
	top: -100px;
	left: 0;
	z-index: 15;
}
/*lock*/
.main-book .lock-on {
	position: absolute;
    height: 200px;
    width: 200px;
    border: 4px dashed gray;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20pt;
    transform: rotate(-45deg) translate(-85px, 100px);;
    left: calc(50% - 100px);
	background: #7d747c;
	-webkit-mask: url(../images/lock.png) no-repeat;
	transition: 1s;
	z-index: 15;
}
.main-book .lock-on-bg {
	position: absolute;
    height: 200px;
    width: 200px;
    border: 4px dashed gray;
    bottom: 40px;
    transform: rotate(-45deg) translate(-85px, 100px);;
    left: calc(50% - 100px);
	background: #756b74;
	-webkit-mask: url(../images/lock_bg.png) no-repeat;
	transition: 1s;
	z-index: -2;
}

.lock-click {
	cursor: pointer;
    background: #403e3e;
    height: 30px;
    width: 30px;
    margin-bottom: 40px;
    border-radius: 30px;
    position: relative;
}
.lock-click:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 20px;
    background: #403e3e;
    bottom: -10px;
    left: calc(50% - 10px);
}

.main-book .lock-off {
	position: absolute;
    height: 200px;
    width: 200px;
    border: 4px dashed gray;
    bottom: -210px;
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20pt;
	transition: 1s;
	z-index: 15;
	
}
.main-book .lock-off:hover {
    transform: rotate(-45deg) translate(-85px, 100px);;
	-webkit-mask: url(../images/lock.png) no-repeat;
    bottom: 40px;
	background: #7d747c;
}

/*login*/
.login-modal {
	position: absolute;
    bottom: 30px;
    left: calc(50% - 150px);
    background: beige;
    height: 300px;
    width: 300px;
    z-index: 20;
    padding: 50px 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-modal:before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: calc(50% + 5px);
    height: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid beige;
}
.text-form {
	height: 50px;
}

.login-input {
	height: 30px;
    width: 200px;
    border: none;
    border-bottom: 2px solid lightblue;
    background: none;
    outline: none;
}
.keys {
	position: absolute;
    z-index: -1;
    bottom: 50px;
    height: 60px;
    width: 38px;
    overflow: hidden;
}
.keysImg {
    position: absolute;
    bottom: 0;
    left: -80px;
    background: #2b78b9;
    height: 200px;
    width: 200px;
    -webkit-mask: url(../images/keys.png);
    animation: rotateKeys 20s infinite;
}
/*flags*/
.page-flag {
    background: rgba(177, 169, 168, 0.4);
    height: 40px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 30px;
}

.flag-head {
    background: rgb(71, 170, 255);
    opacity: 0.7;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 30px;
    border-radius: 0px 5px 5px 0px;
}

.flag-head:hover {
	opacity: 1;
}

.flag-con {
	width: 50px;
    height: 40px;
    border: 4px dashed lightblue;
    transition: .5s;
    position: absolute;
    bottom: 0;
    right: -50px;
}

.flag- {
	background: rgba(71, 170, 255, 0.7);
    height: 40px;
    width: 50px;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    right: 0;
    opacity: 0;
}
.flag-:before {
	content: "";
	width: 30px;
	height: 40px;
	background: rgba(177, 169, 168, 0.4);
	position: absolute;
	left: -30px;
}

.flag-con:hover {
	width: 100px;
	transform: translate(50px);
}

.flag-:hover {
	opacity: 1;
}
/*keyframes*/
@keyframes rotateKeys {
	0% {
		transform: rotate(22deg);
		background: #b25d6f;
	}
	12.5% {
		transform: rotate(67deg);
		background: #9c56b2;
	}
	25% {
		transform: rotate(113deg);	
		background: #4947de;
	}
	37.5% {
		transform: rotate(157deg);	
		background: #47b4de;
	}
	50% {
		transform: rotate(203deg);	
		background: #47de98;
	}
	62.5% {
		transform: rotate(246deg);	
		background: #dad651;
	}
	75% {
		transform: rotate(291deg);	
		background: #de9447;
	}
	87.5% {
		transform: rotate(336deg);	
		background: #de4747;
	}
	100% {
		transform: rotate(22deg);	
		background: #8847de;
	}
}